.task {
  color: grey;
  list-style: none;
  min-width: 25vw;
  width: 25rem;

  margin-left: 1rem;
  margin-top: 10%;
  box-sizing: border-box;
  .top-head {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9fa;
    border: 1px solid #323e4d4a;
    padding: 0 0.5rem;
    li {
      padding: 0.5rem;
      position: relative;
      .hoverbar {
        display: none;
        position: absolute;
        width: 5rem;
        top: -35px;
        background: #000;
        padding: 0.5rem;
        left: -17px;
        font-size: 0.8rem;
        border-radius: 3px;
      }
    }
    li:nth-child(2) {
      border-left: 1px solid #323e4d4a;
      padding-left: 1rem;
      // margin: 0.25rem 0;
    }
    :hover {
      .hoverbar {
        display: block;
      }
    }
    li:nth-child(2) :hover {
    }
  }
  .taskbody {
    background-color: #edf7fc;
    border: 1px solid #323e4d4a;
    p {
      margin: 0;
      padding: 0;
    }
    li {
      margin: 0.5rem 1rem;
      select {
        width: 100%;
        color: #323e4d;
        cursor: pointer;
        // width: 5rem;
        background-color: #f9f9fa;
        box-sizing: border-box;
        padding: 0.5rem 1.5rem;
        border-radius: 4px;
        border: none;
        border: 1px solid #323e4d4a;
      }
      p {
        margin-bottom: 0.5rem;
      }
      input {
        width: 100%;
        padding: 0.5rem 0.25rem;
        border-radius: 2px;
        outline: none;
        border: none;
        border: 1px solid #323e4d4a;
        color: #323e4d;
        // margin: 0.5rem;
        box-sizing: border-box;
      }
    }
    div {
      display: flex;
      justify-content: space-between;

      li {
        display: flex;
        flex-direction: column;
        button {
          margin: 0.5rem 0.5rem;
          padding: 0.5rem 1rem;
          width: 6rem;
          border: none;
          cursor: pointer;
          border: 1px;
          background-color: #edf7fc;
          border-color: #edf7fc;
          color: #f9f9fa;
          border-radius: 4px;
          outline: none;
        }
        input {
          width: 100%;
        }
      }
    }
  }
}

.update_hover {
  display: none;
  position: absolute;
  background: #000;
  padding: 0.4rem;
  top: -30px;
  z-index: 13;
  left: 0;
  border-radius: 3px;
  font-size: 0.8rem;
}
.edit {
  display: none;
}

.edit:hover {
  display: block;
  .update_hover {
    display: block;
    z-index: 13;
  }
}
